<style>
p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
</style>
<div class="left_col scroll-view">
  <div class="navbar nav_title">
    <a id="goHome" href="/app/" class="site_title"><i style="padding-top: 15px; border: 0" class="fa fa-medkit fa-lg col-md-2" aria-hidden="true"></i> <span class="col-md-10"><span style="padding-top: 8px" class="fa"><b>Buscamed Venezuela</b></span></span></a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3><p>Menú de opciones</p></h3>
      <ul class="nav side-menu">
        <li><a href="/app/"><i class="fa fa-home"></i> Home </a></li>
        <li><a href="/app/lista/"><i class="fa fa-list" aria-hidden="true"></i> Lista de Componentes</a>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- menu footer buttons --> 
  <div class="sidebar-footer hidden-small">
    <a style="width:100%; padding: 10px 0 3px;" href="#page-top" data-toggle="tooltip" data-placement="top" title="Subir">
      <span class="fa fa-arrow-up" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>